.todo {
    width: 400px;
    height:50px;
    display: flex;
    box-shadow: 6px 8px 4px 1px rgb(0 0 0 / 20%);
    text-align: left;
    margin-bottom: 10px;
    padding-left: 10px;
    background: lightgrey;
    align-items: center;
}
